<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in</title>
  </head>
  <body>
    <h1>Login page</h1>
    <h4 style="color: red"><%= error %></h4>
    <form action="/customers/login" method="post">
      <input type="email" placeholder="email" name="email" />
      <br />
      <input type="text" placeholder="password" name="password" />
      <br />
      <a href="/customers/register">Don't have account? Register...</a>
      <br />
      <a href="/customers/forgot-password">Forgot password</a>
      <br />
      <button type="submit">Sign in</button>
    </form>
  </body>
</html>
