<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in</title>
  </head>
  <body>
    <h1>Login page</h1>
    <form action="/customers/login" method="post">
      <input type="email" placeholder="email" name="password" />
      <br />
      <br />
      <a href="/customers/register">Don't  have an account ?</a>
      <br><br>
      <input type="password" placeholder="password" name="password" />
      <button type="submit">Sign in</button>
    </form>
  </body>
</html>
