<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
  </head>
  <body>
    <h1>Login page</h1>
    <form action="/customers/register" method="post">
      <input type="text" placeholder="name" name="name" />
      <br /><br />
      <input type="email" placeholder="email" name="password" />
      <br />
      <br />
      <a href="/customers/login">Already have an account ?</a>
      <br /><br />
      <input type="password" placeholder="password" name="password" />
      <button type="submit">Sign up</button>
    </form>
  </body>
</html>
